$backgroundcolorforhomeKR: black;
$textcolor: white;
$buttonbackground: rgb(154, 207, 7);
$buttonAddcartbackground: rgb(183, 42, 42);
$alltextcolors: black; 

$incartordercardbackgroundcolor: rgb(89, 49, 115);
$bottomofcartbackgroundcolor: yellow;
$backgroundcolorofthankyoupage: yellow;
$thankyoubuttonbackgroundcolor: lightgreen;

$Cancelorderbackground: red;
$Placeorderbackground: rgb(47, 225, 241);
$Proceedbuttoncolorforaddress: red;
$treatyofwaitangibody: rgb(92, 187, 219);
$treatyofwaitangibuttonbackgroundcolor: red;
// total price
$totalbackgroundcolor: white;


$Userschoicealltextcolor: gray;

$userschoicePickupcolor: darkgreen;
$UsersChoiceDeliverycolor: darkblue;