// Home page Desktop, font-family used for mobile too. 
$NunaH1Font: fantasy;
$NunaH1Size: 100px;
$NUNAH1SizeMobile: 40px;
$headerfont: sans-serif;
$paragraphstextsize: 30px;
$paragraphsfont: monospace;
$H1Font: sans-serif;
$H1Size: 30px;
$linksfont: Verdana, Geneva, Tahoma, sans-serif;
$smallbuttonsize: 14px;
$paragraphssize: 14px;
$paragraphfontstyletwo: 'Courier New', Courier, monospace;
$H1SIZEMOBILE: 15px;

// Mobile home page 
$NUNAH1SizeMobile: 40px;
$NUNAUNDERMOBILEANDPARAGRAPH: 10px;
$paragraphtextmobilesize: 20px;
$linksheightdesktop: 25px;
$linksheightmobile: 13px;
$informationfontsizemobile: 16px;

// buttons for anything
$buttonsfonts: cursive; 
$buttonfontsize: 30px; 


// in cart desktop 
$CartCardH1: serif; 
$CartCardPriceandParagraph: sans-serif; 
$CartCardFoodNamesize: 25px;
$CartCardButtonfontsize: 15px;